@use "scss-reset/reset";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Lato:wght@300;700&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

* li:last-child {
  padding: 0;
}

// font //

$primary-color: #007bff;
$font-family-Mont: "Montserrat", sans-serif;
$font-family-Garam: "EB Garamond", serif;
$spacing-unit: 1rem;
$font-color-white: rgba(255, 255, 255, 1);
$font-color-dark: rgba(20, 39, 74, 1);

@mixin text-Garamond-dark-60 {
  font-family: $font-family-Garam;
  font-size: 60px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 40px;
  }
}

@mixin text-Garamond-white-154 {
  font-family: $font-family-Garam;
  font-size: 154px;
  color: $font-color-white;
  color: $font-color-white;
  @include breakpoint(md) {
    font-size: 60px;
  }
}

@mixin text-Garamond-white-25 {
  font-family: $font-family-Garam;
  font-size: 25px;
  color: $font-color-white;
}

@mixin text-Garamond-white-9 {
  font-family: $font-family-Garam;
  font-size: 9px;
  color: $font-color-white;
}

@mixin text-Montserrat-dark-48 {
  font-family: $font-family-Mont;
  font-size: 48px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 28px;
  }
}

@mixin text-Montserrat-dark-40 {
  font-family: $font-family-Mont;
  font-size: 40px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 34px;
  }
}

@mixin text-Montserrat-dark-36 {
  font-family: $font-family-Mont;
  font-size: 36px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 30px;
  }
}

@mixin text-Montserrat-dark-30 {
  font-family: $font-family-Mont;
  font-size: 30px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 25px;
  }
}

@mixin text-Montserrat-dark-25 {
  font-family: $font-family-Mont;
  font-size: 25px;
  color: $font-color-dark;
  @include breakpoint(md) {
    font-size: 22px;
  }
}

@mixin text-Montserrat-dark-16 {
  font-family: $font-family-Mont;
  font-size: 16px;
  color: $font-color-dark;
}

@mixin text-Montserrat-white-80 {
  font-family: $font-family-Mont;
  font-size: 80px;
  font-weight: 700;
  color: $font-color-white;
  @include breakpoint(md) {
    font-size: 40px;
  }
}

@mixin text-Montserrat-white-60 {
  font-family: $font-family-Mont;
  font-size: 60px;
  font-weight: 700;
  color: $font-color-white;
  @include breakpoint(md) {
    font-size: 30px;
  }
}

@mixin text-Montserrat-white-50 {
  font-family: $font-family-Mont;
  font-size: 50px;
  color: $font-color-white;
  @include breakpoint(md) {
    font-size: 40px;
  }
}

@mixin text-Montserrat-white-25 {
  font-family: $font-family-Mont;
  font-size: 25px;
  color: $font-color-white;
  @include breakpoint(md) {
    font-size: 22px;
  }
}

@mixin text-Montserrat-white-20 {
  font-family: $font-family-Mont;
  font-size: 20px;
  color: $font-color-white;
}

@mixin text-Montserrat-white-16 {
  font-family: $font-family-Mont;
  font-size: 16px;
  color: $font-color-white;
}

@mixin text-Montserrat-white-14 {
  font-family: $font-family-Mont;
  font-size: 14px;
  color: $font-color-white;
}

// flex //

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// screen sizes //
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

:root {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // min-height: 100%;
  // max-width: 1920px;
  // margin: 0 auto;
  //   box-sizing: border-box;
  //   // font-family: "Montserrat", sans-serif;
  //   // font-weight: 400;
  //   // font-size: 25px;
  //   // color: rgba(20, 39, 74, 1);
  //   background-color: rgba(255, 255, 255, 1);
  //   /* background-color: rgba(229 229 153); */
}

// .wrapper {
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;

//   //   // flex-direction: column;
//   //   min-height: 100%;
//   max-width: 1920px;
//   margin: 0rem auto;
// }

body {
  // font-family: "Montserrat", sans-serif;
  // font-weight: 400;
  // font-size: 25px;
  // color: rgba(20, 39, 74, 1);
  box-sizing: border-box;
}
