@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

* li:last-child {
  padding: 0;
}

// :root {
//   box-sizing: border-box;
//   // font-family: "Montserrat", sans-serif;
//   // font-weight: 400;
//   // font-size: 25px;
//   // color: rgba(20, 39, 74, 1);
//   background-color: rgba(255, 255, 255, 1);
//   /* background-color: rgba(229 229 153); */
// }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  margin: 0rem auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: rgba(20, 39, 74, 1);
  box-sizing: border-box;
}
