@import "../../index.module.scss";

.background {
  max-width: 1920px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  background-image: url("../../assets/images/pages/Facilities/FacilitiesPageBackground.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 39, 74, 0.5);
    z-index: -1;
  }
}

.title {
  @include text-Garamond-dark-60;
  color: rgba(224, 185, 115, 1);
}

.priceBox {
  @include text-Montserrat-dark-25;
  // text-transform: uppercase;
  border: 0.2rem solid rgba(224, 185, 115, 1);
  padding: 1.625rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.offerPrice {
  @include text-Montserrat-dark-25;
  text-transform: lowercase;
}

.offerPriceYoga {
  @include text-Montserrat-dark-25;
}

.crossedOut {
  text-decoration: line-through;
  color: rgb(120, 101, 65);
  font-size: 18px;
}

.coolPrice {
  @include text-Garamond-dark-60;
}
