@import "../../index.module.scss";

.background {
  max-width: 1920px;
  height: 465px;
  // position: relative;
  // z-index: 1;
  // box-sizing: border-box;
  background-color: rgba(20, 39, 74, 1);

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(20, 39, 74, 0.5);
  //   z-index: -1;
  // }
}
.title {
  padding-top: 47px;
  @include flex-center;
  @include text-Montserrat-white-80;
  text-transform: uppercase;
}

.text {
  padding-top: 261px;
  padding-right: 202px;
  padding-left: 202px;

  h2 {
    @include text-Garamond-dark-60;
    padding-bottom: 6px;
  }

  h4 {
    @include text-Montserrat-dark-30;
  }
}

.infoContactBlock {
  display: flex;
  justify-content: space-between;
  padding-top: 167px;
  padding-left: 202px;
  padding-right: 202px;
  padding-bottom: 463px;
}

.info {
  @include text-Montserrat-dark-40;
  width: 653px;
  max-width: 100%;
  height: 351px;
}

.arrowImage {
  margin-left: 20px;
  vertical-align: middle;
  &:hover {
    transform: scale(1.05);
  }
}
