@import "../../index.module.scss";

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    white-space: nowrap;
    padding-right: 21.4%;

    @media (max-width: 768px) {
      padding-right: 10.2%;
    }

    &:last-child {
      padding: 0;
    }
  }

  a {
    @include text-Montserrat-white-25;
    text-decoration: none;
    color: white;

    &:hover,
    &:active {
      text-decoration: underline;
    }
    .activeLink {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
