@import "../../../../index.module.scss";

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 69px;

  .blockInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48.5px;
    padding-right: 5.2%;

    h2 {
      @include text-Garamond-dark-60;
    }

    h3 {
      @include text-Montserrat-dark-25;
      line-height: 2.5rem;
      padding-top: 12px;
      padding-bottom: 30px;
    }
  }

  .blockImage {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
  }
}
