.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10.9%;
  padding-left: 10.9%;
  max-width: 120rem;

  img {
    width: 256px;
    height: 149px;
    max-width: 100%;
    @media (max-width: 768px) {
      max-width: 50%;
      height: 50%;
    }
  }
}
