.container {
  width: 1500px;
  height: 149px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 256px;
      max-height: 149px;
      max-width: 100%;
      @media (max-width: 48rem) {
        max-width: 50%;
        height: 50%;
      }
    }
  }
}
