@import "../../../index.module.scss";

.emailBlock {
  max-width: 360px;
  width: 100%;
  height: auto;
  padding-bottom: 1%;

  p {
    padding-bottom: 11%;
    @include text-Montserrat-white-16;
  }
}
