@import "../../../../index.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  max-width: 1920px;
  margin: 0 auto;

  h2 {
    @include text-Garamond-dark-60;
  }

  h3 {
    @include text-Montserrat-dark-30;
    padding-top: 26px;
    padding-bottom: 19px;
  }

  h4 {
    @include text-Montserrat-dark-25;
    padding-bottom: 23px;
  }
}
