@import "../../index.module.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;

  .header {
    position: relative;
    max-width: 100%;

    img {
      box-sizing: content-box;
      max-width: 16rem;
      max-height: 9.3125rem;
      max-width: 100%;
      @media (max-width: 768px) {
        max-width: 70%;
        height: auto;
      }
    }
  }
}
