.background {
  background-image: url("../../assets/images/pages/Home/HomePageBackground.jpg");
  box-shadow: 0rem 0.25rem 4rem rgba(20, 39, 74, 0.5);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 1080px;
  max-width: 1920px;
  margin: 0rem auto;
}
