@import "../../index.module.scss";

.container {
  @include flex-center;
  background-image: url("../../assets/images/pages/Home/footerBackground.png");
  max-width: 1920px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;

  .infoBlock {
    max-width: 1549px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 7.5%;
    padding-bottom: 3.45%;
    justify-content: space-between;
    align-items: flex-start;
  }
}
