@import "../../../index.module.scss";

.exploreBtn {
  @include flex-center;
  width: 14.75rem;
  height: 3.9375rem;
  max-width: 100%;
  border-radius: 0.62rem;
  border: none;
  background: rgba(224, 185, 115, 1);
  font-weight: 700;
  @include text-Montserrat-white-25;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  @include breakpoint(sm) {
    max-width: 80%;
  }
}
