@import "../../../../index.module.scss";

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4.4%;

  .blockInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6.2%;
    padding-right: 14.4%;

    h2 {
      @include text-Garamond-dark-60;
      text-align: left;
    }

    h3 {
      @include text-Montserrat-dark-25;
      line-height: 2.5rem;
      padding-top: 2%;
      padding-bottom: 4.9%;
    }
  }

  .blockImage {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
  }
}
