@import "../../../index.module.scss";

.socialMediaBlock {
  ul {
    padding-bottom: 7.5%;
  }
  li a {
    @include text-Montserrat-white-16;
  }
  img {
    padding-right: 10%;
    @include breakpoint(sm) {
      padding-right: 5%;
    }
  }
}
