@import "../../../index.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1580px;
  margin: 0 auto;

  h2 {
    @include flex-center;
    @include text-Montserrat-dark-48;
    margin-top: 5.2%;
  }

  p {
    @include flex-center;
    @include text-Montserrat-dark-25;
    max-width: 1540px;
    text-align: center;
    padding-top: 1.85%;
    padding-bottom: 5.2%;
    line-height: 35px;
  }
}
