@import "../../index.module.scss";

.emailBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  max-width: 80px;
  max-height: 52px;
  padding-top: 11%;
  border: none;
}

.emailInput {
  max-width: 280px;
  max-height: 52px;
  border: 2px solid rgba(224, 185, 115, 1);
}

input.emailInput {
  box-sizing: border-box;
  vertical-align: middle;
  padding-left: 26px;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: transparent;
}

.emailSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 52px;
  background-color: rgba(224, 185, 115, 1);
  border-radius: 0px 0.375rem 0.375rem 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: rgba(20, 39, 74, 1);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
